html,
body {
  margin: 0;
  touch-action: none;
  height: 100%;
  padding: 0;
}

#boundary {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  margin: 20px;
  border-style: dashed;
  border-width: 2px;
  border-radius: 5px;
}

#drag-object {
  width: 100px;
  height: 100px;
  background-color: #33acff;
  position: absolute;
  left: 20;
  top: 20;
  border-radius: 5px;
}

button {
  height: 40px;
  width: 60px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: none;
}
